
.vs/ActivityReportingService/v15/.suo
.vs/ActivityReportingService/v15/Server/sqlite3/db.lock
.vs/ActivityReportingService/v15/Server/sqlite3/storage.ide
.vs/ActivityReportingService/v15/Server/sqlite3/storage.ide-shm
.vs/ActivityReportingService/v15/Server/sqlite3/storage.ide-wal
.vs/config/applicationhost.config
ActivityReportingService/ActivityReportingService.csproj.user
ActivityReportingService/bin/ActivityReportingService.dll
ActivityReportingService/bin/ActivityReportingService.dll.config
ActivityReportingService/bin/ActivityReportingService.pdb
ActivityReportingService/bin/Antlr3.Runtime.dll
ActivityReportingService/bin/Antlr3.Runtime.pdb
ActivityReportingService/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
ActivityReportingService/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
ActivityReportingService/bin/Microsoft.Web.Infrastructure.dll
ActivityReportingService/bin/Newtonsoft.Json.dll
ActivityReportingService/bin/Newtonsoft.Json.xml
ActivityReportingService/bin/roslyn/csc.exe
ActivityReportingService/bin/roslyn/csc.exe.config
ActivityReportingService/bin/roslyn/csc.rsp
ActivityReportingService/bin/roslyn/csi.exe
ActivityReportingService/bin/roslyn/csi.exe.config
ActivityReportingService/bin/roslyn/csi.rsp
ActivityReportingService/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
ActivityReportingService/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
ActivityReportingService/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
ActivityReportingService/bin/roslyn/Microsoft.CodeAnalysis.dll
ActivityReportingService/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
ActivityReportingService/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
ActivityReportingService/bin/roslyn/Microsoft.CSharp.Core.targets
ActivityReportingService/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
ActivityReportingService/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
ActivityReportingService/bin/roslyn/Microsoft.Managed.Core.targets
ActivityReportingService/bin/roslyn/Microsoft.VisualBasic.Core.targets
ActivityReportingService/bin/roslyn/System.AppContext.dll
ActivityReportingService/bin/roslyn/System.Collections.Immutable.dll
ActivityReportingService/bin/roslyn/System.Console.dll
ActivityReportingService/bin/roslyn/System.Diagnostics.FileVersionInfo.dll
ActivityReportingService/bin/roslyn/System.Diagnostics.StackTrace.dll
ActivityReportingService/bin/roslyn/System.IO.Compression.dll
ActivityReportingService/bin/roslyn/System.IO.FileSystem.dll
ActivityReportingService/bin/roslyn/System.IO.FileSystem.Primitives.dll
ActivityReportingService/bin/roslyn/System.IO.Pipes.AccessControl.dll
ActivityReportingService/bin/roslyn/System.IO.Pipes.dll
ActivityReportingService/bin/roslyn/System.Reflection.Metadata.dll
ActivityReportingService/bin/roslyn/System.Security.AccessControl.dll
ActivityReportingService/bin/roslyn/System.Security.Claims.dll
ActivityReportingService/bin/roslyn/System.Security.Cryptography.Algorithms.dll
ActivityReportingService/bin/roslyn/System.Security.Cryptography.Encoding.dll
ActivityReportingService/bin/roslyn/System.Security.Cryptography.Primitives.dll
ActivityReportingService/bin/roslyn/System.Security.Cryptography.X509Certificates.dll
ActivityReportingService/bin/roslyn/System.Security.Principal.Windows.dll
ActivityReportingService/bin/roslyn/System.Text.Encoding.CodePages.dll
ActivityReportingService/bin/roslyn/System.ValueTuple.dll
ActivityReportingService/bin/roslyn/System.Xml.ReaderWriter.dll
ActivityReportingService/bin/roslyn/System.Xml.XmlDocument.dll
ActivityReportingService/bin/roslyn/System.Xml.XPath.dll
ActivityReportingService/bin/roslyn/System.Xml.XPath.XDocument.dll
ActivityReportingService/bin/roslyn/vbc.exe
ActivityReportingService/bin/roslyn/vbc.exe.config
ActivityReportingService/bin/roslyn/vbc.rsp
ActivityReportingService/bin/roslyn/VBCSCompiler.exe
ActivityReportingService/bin/roslyn/VBCSCompiler.exe.config
ActivityReportingService/bin/System.Net.Http.Formatting.dll
ActivityReportingService/bin/System.Net.Http.Formatting.xml
ActivityReportingService/bin/System.Web.Helpers.dll
ActivityReportingService/bin/System.Web.Helpers.xml
ActivityReportingService/bin/System.Web.Http.dll
ActivityReportingService/bin/System.Web.Http.WebHost.dll
ActivityReportingService/bin/System.Web.Http.WebHost.xml
ActivityReportingService/bin/System.Web.Http.xml
ActivityReportingService/bin/System.Web.Mvc.dll
ActivityReportingService/bin/System.Web.Mvc.xml
ActivityReportingService/bin/System.Web.Optimization.dll
ActivityReportingService/bin/System.Web.Optimization.xml
ActivityReportingService/bin/System.Web.Razor.dll
ActivityReportingService/bin/System.Web.Razor.xml
ActivityReportingService/bin/System.Web.WebPages.Deployment.dll
ActivityReportingService/bin/System.Web.WebPages.Deployment.xml
ActivityReportingService/bin/System.Web.WebPages.dll
ActivityReportingService/bin/System.Web.WebPages.Razor.dll
ActivityReportingService/bin/System.Web.WebPages.Razor.xml
ActivityReportingService/bin/System.Web.WebPages.xml
ActivityReportingService/bin/WebGrease.dll
ActivityReportingService/obj/Debug/ActivityReportingService.csproj.CopyComplete
ActivityReportingService/obj/Debug/ActivityReportingService.csproj.CoreCompileInputs.cache
ActivityReportingService/obj/Debug/ActivityReportingService.csproj.FileListAbsolute.txt
ActivityReportingService/obj/Debug/ActivityReportingService.csprojAssemblyReference.cache
ActivityReportingService/obj/Debug/ActivityReportingService.dll
ActivityReportingService/obj/Debug/ActivityReportingService.pdb
ActivityReportingService/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ActivityReportingService/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ActivityReportingService/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ActivityReportingService/ActivityReportingService.csproj.user
ActivityReportingService/ActivityReportingService.csproj.user
ActivityReportingService.Tests/ActivityReportingService.Tests.csproj
